@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@600&family=Stint+Ultra+Condensed&display=swap');

/*font-family: 'Big Shoulders Stencil Display', cursive;
font-family: 'Stint Ultra Condensed', cursive*/

:root{
    --primary-color: rgb(87, 8, 8);
    --primary-color-dark: rgb(12, 64, 71);
    
}

*{
    box-sizing: border-box;
    outline: none;
}

body{
    margin: 0;
    padding: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(26,2,33,1) 7%, rgba(33,2,32,1) 39%, rgba(43,3,31,1) 55%, rgba(53,4,30,1) 65%, rgba(67,5,28,1) 80%, rgba(121,9,22,1) 100%);;
    font-family:'Stint Ultra Condensed', cursive;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.container{
    max-width: 640px;
    margin: 10px auto;
    background: #fff;
    padding: 20px;
    border-radius: 2%;
}
h1{
    text-align: center;
}

p{
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
}

.butao{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.iniciar{
    background: rgba(8, 233, 8, 0.856);
    border-radius: 5px;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    font-weight:bolder;
    
}

.pausar{
    background:rgb(226, 241, 9);
    border-radius: 5px;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    font-weight:bolder;

}

.zerar{
    background:rgb(241, 47, 47);
    border-radius: 5px;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    font-weight:bolder;

}

.pausado{
    color: red;
}